* {
    box-sizing: border-box;
}











body {
    margin: 0;
    font-size: 30px;
    background-color: #E5E5E5;
}



/* muveqqeti yoxlamaq ucun */

/* .col {
    background-color: #eee;

} */

/* muveqqeti yoxlamaq ucun */

.block {

    padding: 20px;
    text-align: center;
    height: 100%;
}

.header {
    min-width: 90px;
    margin-bottom: 130px;
}

.promo {
    min-height: 460px;
    margin-bottom: 110px;
}

.clients {
    min-height: 80px;
    margin-bottom: 170px;
}

.pricing {
    min-height: 480px;
    margin-bottom: 235px;

}

/* .team {
    min-height: 360px;
    margin-top: 2180px;
}   */
.footer {
    min-height: 380px;
}

.block .link-a {
    margin-left: 5px;
    width: 38px;
    height: 24px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 196.19%;
    /* Текст */
    color: #241400;
    /* Inside auto layout */
}

.block .text {
    text-align: left;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 196.19%;
    /* or 35px */
    display: flex;
    align-items: flex-start;
    /* Текст */
    color: #241400;
}

.block h2,
p,
h3 {
    color: #241400;
    text-align: left;
}

.block h2 {
    font-weight: 500;
}


.block p {
    font-size: 18px;
    font-weight: bold;
}

.block .vectors {
    margin-right: 25px;
}

.block .social-text {
    text-align: center;
    color: #241400;
}

.footer {
    background-color: #241400;
}

.block ul {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 196.19%;
    /* or 35px */
    color: #FFFFFF;
    text-align: start;
    text-decoration: none;
}

.block li {
    text-align: start;
    color: #fff;
}

.block #number {
    margin-top: 70px;
    color: #E5E5E5;
}

.block #request {
    border: #E16A00;
    color: #E16A00;
    width: 100px;
    height: 25px;
    font-size: 10px;
    border: 1px solid #E16A00;
    ;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
}




.foot-list {
    display: flex;
    justify-content: space-between;
}

footer {
    padding-top: 50px;
}

.foot-list ul {
    font-weight: bold;
    font-size: 20px;
    color: #fff;
}

.foot-list li {
    display: flex;
    color: #fff;
    font-size: 10px;
    font-weight: normal;
}

.logo {
    display: flex;
    justify-content: start;
}

#copy {
    color: #fff;
    font-size: 12px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}